<div class="container mt-4">
    <div class="row">
      <div class="col-xs-6">
<div class="card" style="width: 18rem;">

    <div class="card-body">
      <h5 class="card-title">Calculadora</h5>
      <div class="mb-4">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option *ngFor="let coin of coins">
            {{ coin.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let coin of coins">
                {{ coin.name }}
              </option>
        </select>
      </div>
    </div>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

            </div>
            </div>
        </div>